:root {
    --body-color: #F4F6F8;
    --text-color: #000000;
    --card-color: #FFFFFF;
    --backgr-image: url(../assets/desktop/bg-pattern-header.svg);
    --btn-color: rgba(89, 100, 224, 0.1);
    --btn-text-color: #5964E0;
    --btn-hover-color: rgba(89, 100, 224, 0.35);
}

:root[data-theme='dark'] {
    --body-color: #121721;
    --text-color: #FFFFFF;
    --card-color: #19202D;
    --btn-color: rgba(25, 32, 45, 1);
    --btn-text-color: #fff;
    --btn-hover-color: rgb(110, 128, 152);
}


* {
    box-sizing: border-box;
    transition: background-color 0.5s ease;
    text-decoration: none;

}

body {
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--body-color);
}

.container {
    max-width: 1570px;
    margin: 0 auto;
    /* border: 1px solid black; */
    position: relative;
}

@media screen and (max-width:1550px) {
    .container {
        margin: 0 35px;
    }
}

@media screen and (max-width : 1140px) {
    .container {
        margin: 0px 45px;
    }
}

/* Header css begin */

.header {
    /* background-image: url(../assets/desktop/bg-pattern-header.svg); */
    background-image: var(--backgr-image);
    background-repeat: no-repeat;
    background-size: cover;
    height: 162px;
    margin-bottom: 80px;
    /* position: relative; */
}

.container .header-inner .header-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.header-up .button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.button .toggle-switch {
    width: 48px;
    height: 24px;
    border-radius: 12px;
    background-color: #fff;
    position: relative;
}

.button .light,
.button .dark {
    background: none;
    border: none;
}

.button .toggle-switch::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #5964E0;
    top: 5px;
    left: 0;
    transform: translateX(5px);
    transition: all 0.2s ease;
    cursor: pointer;
}

/* .button .toggle-switch:hover::before {
    transform: translateX(29px);
    transition: all 0.2s ease;
} */

.button .toggle-switch.toggle-on::before {
    transform: translateX(29px);
    transition: all 0.2s ease;
}

.button .toggle-switch.toggle-off::before {
    transform: translateX(5px);
    transition: all 0.2s ease;
}

/* vacancy card css begin  and main section*/
.main .main-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 40px;
}

.vacancy-card {
    width: 350px;
    height: 228px;
    border-radius: 6px;
    background: var(--card-color);
    padding: 32px 49px;
    position: relative;
}

.vacancy-card .vacancy-des .time-contract .time,
.contract {
    color: #6E8098;
    font-size: 16px;
}

.vacancy-des .time-contract {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
    margin-top: 20px;
}

.vacancy-des .time-contract .dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 8px;
    background: #6E8098;
}

.vacancy-des .position {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 17px;
    color: var(--text-color);
    cursor: pointer;
}

.vacancy-des .position:hover {
    color: #6E8098;
}

.vacancy-des .company-name {
    color: #6E8098;
    margin: 0;
}

.vacancy-des .country {
    font-size: 14px;
    color: #5964E0;
    font-weight: 700;
}

.vacancy-des .company-logo {
    position: absolute;
    top: -25px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width : 1140px) {
    .main .main-inner {
        display: flex;
        justify-content: center;
    }
}