.filter {
    display: flex;
    position: absolute;
    height: 80px;
    background: var(--card-color);
    border-radius: 6px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    top: -120px;
}

.filter input {
    background-color: var(--card-color);
    color: var(--text-color);

}

.filter input:focus {
    color: var(--text-color);
}

.filter .filter-title,
.filter-location,
.filter-time {
    width: 33%;
    border-right: 1px solid rgb(110, 128, 152, 0.3);
}

.filter-title {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 32px;
    height: inherit;
}

.filter-title input[type='text'] {
    width: 70%;
    border: none;
    outline: none;
}

.filter-title input[type='text']::placeholder,
.filter-location input[type='text']::placeholder {
    font-family: 'Kumbh Sans', sans-serif;
}

.filter-location {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-left: 28px;
    height: inherit;
}

.filter-location input {
    border: none;
    outline: none;
    width: 135px;
}

.filter-time {
    display: flex;
    align-items: center;
    gap: 30px;
    border: none;
}

.filter-time .checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 32px;
}

.filter-time input {
    width: 24px;
    height: 24px;
    background-color: rgba(25, 32, 45 0.2);
}

.filter-time label {
    color: var(--text-color);
    font-weight: 700;
    font-size: 16px;
}

.filter .submit {
    margin-right: 40px;
    width: 120px;
}

.filter .submit button {
    width: 120px;
    height: 48px;
    background: #5964E0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.filter .submit .submit-btn .fa-solid {
    display: none;
}

.filter .submit .submit-btn .btn-text {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

.filter .submit button:hover {
    background: #939BF4;
}

/* Filter desidn for mobile Apps */

@media screen and (max-width:650px) {
    .filter .filter-title {
        border: none;
        width: 100%;
    }

    .filter-location {
        display: none;
    }

    .filter-time {
        display: none;
    }

    .filter .submit button {
        width: 48px;
        height: 48px;
    }

    .filter .submit .submit-btn .fa-solid {
        display: block;
        color: #ffffff;
        font-size: 20px;
    }

    .filter .submit .submit-btn .btn-text {
        display: none;
    }
}

/* Filter design for Tablet */

@media screen and (max-width:900px) {
    .filter .submit{
        margin-right: 5px;
    }

    .filter-title input[type='text']::-webkit-input-placeholder::before{
        content: 'Filter by title...';
    }

}